<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <a href="{% url "clients" %}">Clients</a>
        <a href="{% url "products" %}">Products</a>
    </header>
    <div  class='container'>
        {% block content %}
            <h1>Welcome!</h1>
        {% endblock content %}
    </div>
    <footer>Все права защищены &copy;</footer>
</body>
</html>