{% extends "hw2app/base.html" %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
    <div class='card'>
        <h3>{{client.name}}</h3>
        <p><span class='bold'>email:</span> {{client.email}}</p>
        <p><span class='bold'>telephone:</span>  {{client.tel_number}}</p>
        <p><span class='bold'>address:</span>  {{client.address}}</p>
        <p><span class='bold'>registration date:</span>  {{client.regisrtation_date}}</p>
        <div class='buttons'>
            <a class='button' href="{% url "orders_by_client_id" client.id %}">View all orders</a>
            <p>View ordered products 
                <a class='button' href="{% url "ordered_products_per_week" client.id %}">for the week</a> 
                <a class='button' href="{% url "ordered_products_per_month" client.id %}">for the month</a> 
                <a class='button' href="{% url "ordered_products_per_year" client.id %}">for the year</a>
            </p>
        </div>
    </div>
{% endblock content %}